### import bilbiotek

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### wczytanie danych

In [3]:
df = pd.read_csv('data.csv', sep=';', na_values='-')
df.head(10)

,Unnamed: 0,NAME,TEAM,POS,NAT,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,CROSSES,SAVES,GOALS CON,PEN CON,PEN SAVE,DECISIVE,FIRST,EQUALISER,PEN WON,RATING
0,NaN,B. Leno,NaN,GK,NaN,Germany,90,NaN,NaN,NaN,...,NaN,4.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,6.8
1,NaN,K. Tete,NaN,DR,NaN,Netherlands,90,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.3
2,NaN,I. Diop,NaN,DCR,NaN,France,90,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.4
3,NaN,C. Bassey,NaN,DCL,NaN,Nigeria,90,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.9
4,NaN,A. Robinson,NaN,DL,NaN,United States,90,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.5
5,NaN,A. Pereira,NaN,DMCR,NaN,Brazil,90,NaN,NaN,1.0,...,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
6,NaN,S. Lukić,NaN,DMCL,NaN,Serbia,90,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.6
7,NaN,Adama Traoré,NaN,AMR,NaN,Spain,78,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.3
8,NaN,E. Smith Rowe,NaN,AMC,NaN,England,64,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
9,NaN,A. Iwobi,NaN,AML,NaN,Nigeria,90,NaN,NaN,NaN,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.1

### zmiana nazw kolumn

In [5]:
df_renamed = df.rename(columns={'Unnamed: 5': 'COUNTRY',
                                'Unnamed: 6': 'MINUTES_PLAYED',
                                'Unnamed: 7': 'GOALS',
                                'Unnamed: 8': 'ASSISTS',
                                'Unnamed: 9': 'YELLOW_CARDS',
                                'Unnamed: 10': 'RED_CARDS',}).drop(['Unnamed: 0', 'TEAM'], axis=1)
df_renamed.head()

,NAME,POS,NAT,COUNTRY,MINUTES_PLAYED,GOALS,ASSISTS,YELLOW_CARDS,RED_CARDS,FOULS,...,CROSSES,SAVES,GOALS CON,PEN CON,PEN SAVE,DECISIVE,FIRST,EQUALISER,PEN WON,RATING
0,B. Leno,GK,NaN,Germany,90,NaN,NaN,NaN,NaN,NaN,...,NaN,4.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,6.8
1,K. Tete,DR,NaN,Netherlands,90,NaN,NaN,NaN,NaN,NaN,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.3
2,I. Diop,DCR,NaN,France,90,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.4
3,C. Bassey,DCL,NaN,Nigeria,90,NaN,NaN,1.0,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.9
4,A. Robinson,DL,NaN,United States,90,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.5

### obsługa wartości brakujących

In [6]:
df_renamed.isna().sum()

NAME                   0
POS                    1
NAT                11318
COUNTRY                0
MINUTES_PLAYED         0
GOALS              10332
ASSISTS            10564
YELLOW_CARDS        9756
RED_CARDS          11266
FOULS               6192
FOULED              6357
TACKLES ATT/WON        0
AERIALS ATT/WON        0
DUELS ATT/WON          0
CLEAR               5061
ERR CHANCE         10896
ERR GOAL           11140
POSS LOST            886
OFFSIDE            10284
TOUCHES              610
INTERCEP            7419
RECOV               2042
LAST MAN TACKLE    11186
PASSES               677
PASS COMP %          740
FINAL THIRD         1076
LONG BALL           3645
PEN                11255
SHOTS               6206
ON TARGET           8784
BLOCKED             9138
DRIBBLES            7754
TOUCHES IN BOX      4743
BIG CHANCE         10083
CROSSES             6588
SAVES              10621
GOALS CON          10731
PEN CON            11239
PEN SAVE           11305
DECISIVE           10959
FIRST              10962
EQUALISER          11111
PEN WON            11249
RATING              1685
dtype: int64

In [7]:
df_non_na = df_renamed.fillna(0).drop(['NAT'], axis=1)
df_non_na.head()

,NAME,POS,COUNTRY,MINUTES_PLAYED,GOALS,ASSISTS,YELLOW_CARDS,RED_CARDS,FOULS,FOULED,...,CROSSES,SAVES,GOALS CON,PEN CON,PEN SAVE,DECISIVE,FIRST,EQUALISER,PEN WON,RATING
0,B. Leno,GK,Germany,90,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,6.8
1,K. Tete,DR,Netherlands,90,0.0,0.0,0.0,0.0,0.0,1.0,...,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.3
2,I. Diop,DCR,France,90,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.4
3,C. Bassey,DCL,Nigeria,90,0.0,0.0,1.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.9
4,A. Robinson,DL,United States,90,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.5

In [12]:
df_non_na_rating = df_non_na[df_non_na['RATING'] != 0]
df_non_na_rating['RATING'].min()

3.3

### Wyodrębnienie danych z kolumn

In [13]:
df_non_na['TACKLES_ATT'] = df_non_na['TACKLES ATT/WON'].str.split('/', expand=True)[0]
df_non_na['TACKLES_WON'] = df_non_na['TACKLES ATT/WON'].str.split('/', expand=True)[1]

df_non_na['AERIALS_ATT'] = df_non_na['AERIALS ATT/WON'].str.split('/', expand=True)[0]
df_non_na['AERIALS_WON'] = df_non_na['AERIALS ATT/WON'].str.split('/', expand=True)[1]

df_non_na['DUELS_ATT'] = df_non_na['DUELS ATT/WON'].str.split('/', expand=True)[0]
df_non_na['DUELS_WON'] = df_non_na['DUELS ATT/WON'].str.split('/', expand=True)[1]

df_non_na['PASS_COMP_RATIO'] = df_non_na['PASS COMP %'].str.split('%', expand=True)[0]

df_clean = df_non_na.drop(['TACKLES ATT/WON', 'AERIALS ATT/WON', 'DUELS ATT/WON', 'PASS COMP %'], axis=1)
df_clean.head()

,NAME,POS,COUNTRY,MINUTES_PLAYED,GOALS,ASSISTS,YELLOW_CARDS,RED_CARDS,FOULS,FOULED,...,EQUALISER,PEN WON,RATING,TACKLES_ATT,TACKLES_WON,AERIALS_ATT,AERIALS_WON,DUELS_ATT,DUELS_WON,PASS_COMP_RATIO
0,B. Leno,GK,Germany,90,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,6.8,0,0,1,1,0,1,69
1,K. Tete,DR,Netherlands,90,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,6.3,1,0,2,0,7,2,75
2,I. Diop,DCR,France,90,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,6.4,4,3,0,0,0,4,80
3,C. Bassey,DCL,Nigeria,90,0.0,0.0,1.0,0.0,2.0,0.0,...,0.0,0.0,5.9,1,1,2,1,6,2,92
4,A. Robinson,DL,United States,90,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,7.5,8,6,3,2,14,10,76

In [15]:
df_clean[['TACKLES_ATT', 'TACKLES_WON', 'AERIALS_ATT', 'AERIALS_WON', 'DUELS_ATT', 'DUELS_WON', 'PASS_COMP_RATIO']] = (
    df_clean[['TACKLES_ATT', 'TACKLES_WON', 'AERIALS_ATT', 'AERIALS_WON', 'DUELS_ATT', 'DUELS_WON', 'PASS_COMP_RATIO']].apply(pd.to_numeric, errors='coerce')
)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11318 entries, 0 to 11317
Data columns (total 46 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   NAME             11318 non-null  object
 1   POS              11318 non-null  object
 2   COUNTRY          11318 non-null  object
 3   MINUTES_PLAYED   11318 non-null  int64
 4   GOALS            11318 non-null  float64
 5   ASSISTS          11318 non-null  float64
 6   YELLOW_CARDS     11318 non-null  float64
 7   RED_CARDS        11318 non-null  float64
 8   FOULS            11318 non-null  float64
 9   FOULED           11318 non-null  float64
 10  CLEAR            11318 non-null  float64
 11  ERR CHANCE       11318 non-null  float64
 12  ERR GOAL         11318 non-null  float64
 13  POSS LOST        11318 non-null  float64
 14  OFFSIDE          11318 non-null  float64
 15  TOUCHES          11318 non-null  float64
 16  INTERCEP         11318 non-null  float64
 17  RECOV            11318 non-null  float64
 18  LAST MAN TACKLE  11318 non-null  float64
 19  PASSES           11318 non-null  float64
 20  FINAL THIRD      11318 non-null  float64
 21  LONG BALL        11318 non-null  float64
 22  PEN              11318 non-null  float64
 23  SHOTS            11318 non-null  float64
 24  ON TARGET        11318 non-null  float64
 25  BLOCKED          11318 non-null  float64
 26  DRIBBLES         11318 non-null  float64
 27  TOUCHES IN BOX   11318 non-null  float64
 28  BIG CHANCE       11318 non-null  float64
 29  CROSSES          11318 non-null  float64
 30  SAVES            11318 non-null  float64
 31  GOALS CON        11318 non-null  float64
 32  PEN CON          11318 non-null  float64
 33  PEN SAVE         11318 non-null  float64
 34  DECISIVE         11318 non-null  float64
 35  FIRST            11318 non-null  float64
 36  EQUALISER        11318 non-null  float64
 37  PEN WON          11318 non-null  float64
 38  RATING           11318 non-null  float64
 39  TACKLES_ATT      11318 non-null  int64
 40  TACKLES_WON      11318 non-null  int64
 41  AERIALS_ATT      11318 non-null  int64
 42  AERIALS_WON      11318 non-null  int64
 43  DUELS_ATT        11318 non-null  int64
 44  DUELS_WON        11318 non-null  int64
 45  PASS_COMP_RATIO  10578 non-null  float64
dtypes: float64(36), int64(7), object(3)
memory usage: 4.0+ MB

### Zmniejszenie kardynalności zmiennej POS

- M: midfielder
- F: forward
- GK: goalkeeper
- DL: left defender
- DR: right defender
- S: striker
- D: defender
- DCR: defender central right
- DCL: defender central left
- DMCR: defensive midfielder central right
- DMCL: defensive midfielder central left
- AMR: attacking midfielder right
- AML: attacking midfielder left
- AMC: attacking midfielder central
- MCR: midfielder central right
- MCL: midfielder central left
- DC: defender central
- AMCR: attacking midfielder central right
- AMCL: attacking midfielder central left
- DML: defensive midfielder left???
- DMR: defensive midfielder right???
- MC: midfielder central
- WL: winger left
- WR: winger right
- ML: midfielder left
- MR: midfielder right
- FCR: forward central right
- FCL: forward central left
- DMC: defensive midfielder central

In [29]:
df_clean['POS'].value_counts()

POS
M       1328
F       1013
GK       769
DL       760
DR       758
S        707
D        618
DCR      602
DCL      601
DMCL     541
DMCR     539
AMR      449
AML      449
AMC      423
MCR      185
MCL      185
DC       178
AMCR     152
AMCL     152
DML      139
DMR      139
MC       136
WL       116
WR       116
ML        61
MR        61
FCR       53
FCL       53
DMC       34
0          1
Name: count, dtype: int64

In [37]:
df_clean[df_clean['POS'] == 'FCL'].head(20)

,NAME,POS,COUNTRY,MINUTES_PLAYED,GOALS,ASSISTS,YELLOW_CARDS,RED_CARDS,FOULS,FOULED,...,EQUALISER,PEN WON,RATING,TACKLES_ATT,TACKLES_WON,AERIALS_ATT,AERIALS_WON,DUELS_ATT,DUELS_WON,PASS_COMP_RATIO
85,B. Brereton Díaz,FCL,Chile,70,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,6.1,1,1,3,3,7,5,80.0
444,B. Brereton Díaz,FCL,Chile,90,0.0,0.0,0.0,0.0,2.0,1.0,...,0.0,0.0,6.0,0,0,3,1,8,3,86.0
490,O. Watkins,FCL,England,65,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,5.5,0,0,2,1,10,2,33.0
598,Y. Wissa,FCL,DR Congo,73,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,5.4,0,0,0,0,3,2,92.0
658,B. Brereton Díaz,FCL,Chile,90,0.0,0.0,0.0,0.0,1.0,2.0,...,0.0,0.0,6.3,0,0,1,0,6,2,86.0
762,O. Watkins,FCL,England,61,0.0,1.0,0.0,0.0,2.0,1.0,...,0.0,0.0,6.5,1,0,0,0,5,2,100.0
1022,B. Mbeumo,FCL,Cameroon,90,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,6.0,1,1,0,0,6,3,88.0
1082,D. Welbeck,FCL,England,85,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,6.1,0,0,4,2,10,4,85.0
1267,B. Mbeumo,FCL,Cameroon,90,1.0,0.0,0.0,0.0,1.0,2.0,...,0.0,0.0,7.5,1,1,2,0,7,3,80.0
1505,L. Trossard,FCL,Belgium,44,0.0,0.0,1.0,1.0,2.0,0.0,...,0.0,0.0,4.6,0,0,0,0,0,0,67.0
1547,L. Trossard,FCL,Belgium,90,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,7.9,1,1,2,0,11,3,79.0
1648,C. Wood,FCL,New Zealand,90,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,5.1,0,0,4,2,8,3,89.0
1679,B. Mbeumo,FCL,Cameroon,90,1.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,7.5,3,1,4,1,13,7,75.0
1874,G. Jesus,FCL,Brazil,60,0.0,0.0,0.0,0.0,1.0,2.0,...,0.0,0.0,6.1,0,0,1,0,5,3,69.0
2275,D. Welbeck,FCL,England,82,1.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,7.3,1,1,2,1,7,3,80.0
2322,Matheus Cunha,FCL,Brazil,67,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,6.1,2,1,3,1,13,6,91.0
2544,D. Welbeck,FCL,England,73,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,6.9,0,0,1,1,7,2,62.0
2692,L. Trossard,FCL,Belgium,90,0.0,0.0,0.0,0.0,1.0,2.0,...,0.0,0.0,5.8,2,1,3,0,10,5,80.0
2720,L. Trossard,FCL,Belgium,71,0.0,0.0,0.0,0.0,1.0,2.0,...,0.0,0.0,6.1,1,1,1,0,11,3,80.0
2751,D. Welbeck,FCL,England,90,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,6.5,0,0,3,1,6,2,87.0